<header class = "top-header">
	<div class = "row free-container">
		<div class = "twelve columns" >
			<div class = "free">UC Berkeley</div>
		</div>
	</div>
	
	<div class = "row banner">
		<div class = "twelve columns">
			<h1> Undergraduate Statistics Association @ UC Berkeley </h1>
			<h4> Resource for undergraduate Statistics majors</h4>
		</div>
	</div>
</header>



<div id = "bottom-container">
	<section>
		<div class = "row">
			<div class = "nine columns"  id = "bottom-row1">
				<div class = "row">
					<div class = "four columns">
						<i class="foundicon-globe" id ="bottom-icon"></i>
						<h5> Professional</h5>
						<p>
						Something about professional development. Something about professional development. Something about professional development.
						</p>

					</div>

					<div class = "four columns">
						<i class="foundicon-graph" id ="bottom-icon"></i>
						<h5> Academic</h5>
						<p>
						Something about academic. 	Something about academic. 	Something about academic. 	Something about academic.  something
						</p>
					</div>

					<div class = "four columns">
						<i class="foundicon-smiley" id ="bottom-icon"></i>
						<h5> Social</h5>
						<p>
						omething about social. Something about social. Something about social. Something about social. Something about social. 
						</p>
					</div>
				</div>
				<div class ="row">
					<div class ="four columns">
										<%= link_to "about", home_about_path, class: "medium button"%>
					</div>
					<div class ="four columns">
										<%= link_to "officers", home_officers_path, class: "medium button"%>

					</div>
					<div class ="four columns">
										<%= link_to "contact", home_contact_path, class: "medium button"%>
					</div>
				</div>
			</div>


			<div class = "three columns" id = "bottom-row2">
				<div id = "announcement">

					<h4> Upcoming Events </h4>

					<span id = "ann-date">
						</br></br> Feb 5, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>First gen meeting</br></b>
						TBD</br>
						TBD</br>
					</span>
					<span id = "ann-date">
						</br></br> Feb 7, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>Second gen meeting</br></b>
						TBD</br>
						TBD</br>
					</span>
					<span id = "ann-date">
						</br></br> Feb 9, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>Thirdgen meeting</br></b>
						TBD</br>
						TBD</br>
					</span>

					

				</div>
			</div>

		</div>
	</section>
</div>


